@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gradient-text {
    @apply bg-gradient-to-r from-light-primary to-light-secondary bg-clip-text text-transparent dark:from-white dark:to-dark-secondary;
  }
  .gradient-bg {
    @apply  bg-gradient-to-br 
    from-light-background-gradient-start 
    via-light-background-gradient-via 
    to-light-background-gradient-end
    dark:from-dark-background-gradient-start 
    dark:via-dark-background-gradient-via 
    dark:to-dark-background-gradient-end ;
  }
}

/* Swiper navigation button styles */
.swiper-button-prev,
.swiper-button-next {
  @apply gradient-bg rounded-full w-20 h-20 hover:scale-105 transition-transform duration-300 ease-in-out shadow-glow-lg dark:shadow-dark-glow-lg !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  @apply text-blue-300 hover:text-blue-400 scale-110 transition-colors duration-300 ease-in-out dark:text-white text-[24px] flex items-center justify-center !important;
  text-shadow: 0 0 4px currentColor;
  -webkit-text-stroke: 4px currentColor;
}

.swiper-button-next::after{
  padding-left: 4px;

}
.swiper-button-prev::after{
  padding-right: 4px;

}